@import '_vars.scss';
@import 'modules/mobile-nav.scss';

//
// Styles for mobile version
//
.hidden{
    display: none;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width:100%;
    height:100%;
}

section{
    width:100%;
}

// Styles for HERO section
.hero-section{
    display: flex;
    flex-direction: column;
}

.hero-left{
    background-color: #f2f0e9;
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.left-burger{
    width:100%;
}

.burger-icon{
    width:40px;
    height:40px;
    margin-left:20px;
    margin-top:20px;
}

.left-logo{
    width:100%;
    display: flex;
    justify-content: center;
    margin-top: 5px;
}

.logo-icon{
    width:225px;
}

.left-btn{
    width:130px;
    height:50px;
    background:url(../images/button_short.png);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top:50px;
    margin-bottom: 50px;
    cursor: pointer;
}

.left-btn-text{
    font-family: "Oswald";
    font-size:25px;
    color:#ffffff;
    letter-spacing: 20;
}

.hero-right{
    background-color:#f9f8f4;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.since-date{
    width:100%;
    display: flex;
    justify-content: center;
    align-items:center;
    padding-top:50px;
    margin-bottom: 25px;
}

.since-date-line{
    width:40px;
    height:2px;
    background-color:#c8c4b7;
}

.since-date-number{
    margin-left:10px;
    margin-right:10px;
    font-size: 14.379px;
    font-family: "Montserrat";
    color: rgb(68, 65, 64);
    text-transform: uppercase;
}

.right-ribbon{
    width:300px;
    height:135px;
    background:url(../images/ribbon_mobile_1.png);
    background-position: center center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom:70px;
}

.ribbon-text{
    text-transform: uppercase;
    text-align:center;
    font-size: 26px;
    font-family: "Oswald";
    color: rgb(242, 240, 233);
    line-height: 36px;
}

.hi-block{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom:70px;
}

.hi-lines{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height:6px;
}

.hi-line{
    background-color:$main-blue;
    width:40px;
    height:2px;
}

.hi-text{
    font-size: 36px;
    font-family: "Montserrat";
    color: $main-blue;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    margin-left: 10px;
    margin-right:10px;
}

.description-heading{
    font-size: 24px;
    font-family: "Oswald";
    color: #c6c2b5;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.739;
    text-align: center;
}

.description-highlight{
    color:$main-orange;
}

.description-text{
    width:290px;
    font-size: 14px;
    font-family: "Montserrat";
    color: rgb(68, 65, 64);
    line-height: 1.714;
    text-align: center;
    margin-top:30px;
}

.description-btn{
    width:218px;
    height:50px;
    background:url(../images/button_wide.png);
    margin-top:38px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom:60px;
}

.description-btn-text{
    font-size: 25px;
    font-family: "Oswald";
    color: rgb(249, 248, 244);
    text-transform: uppercase;
    line-height: 1.669;
    text-align: center;
}

//Styles for FEATURES section
.features-section{
    display: flex;
    flex-direction: column;
    background-color:#f2f0e9;
    align-items: center;
}

.ribbon-features{
    margin-top:70px;
}

.features-list{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.features-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 58px;
}

.features-img{
    width:137px;
}

.features-text{
    font-size: 22px;
    font-family: "Montserrat";
    color: $main-orange;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.364;
    text-align: center;
    margin-top:48px;
}

//Styles for TEAM section
.team-section{
    display: flex;
    flex-direction: column;
    background-color:#f9f8f4;
    align-items: center;
}

.column-heading{
    margin-top:58px;
    margin-bottom: 50px;
    height: 240px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.column-heading-line{
    width:154px;
    height:2px;
    background-color:#afaca2;
}

.column-heading-text{
    font-size: 60px;
    font-family: "Oswald";
    color: $main-orange;
    line-height: 1.167;
    text-transform: uppercase;
    text-align: center;
}

.team-members{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.team-member{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}

.member-circle{
    width:185px;
    height:185px;
    border-radius: 50%;
    border: 1px solid #444140;
    display: flex;
    align-items: center;
    justify-content: center;
}

.member-subcircle{
    width:180px;
    height:180px;
    border-radius: 50%;
    border: 1px solid #444140;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;

    img{
        height:100%;
    }
}

.member-name{
    margin-top:45px;
    font-size: 25px;
    font-family: "Montserrat";
    color: rgb(68, 65, 64);
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
}

.member-title{
    font-size: 18px;
    font-family: "Montserrat";
    color: rgb(68, 65, 64);
    line-height: 1.333;
    text-align: center;
    margin-top:35px;
}

.member-btn{
    background: url(../images/button_more.png);
    width:120px;
    height:46px;
    margin-top:30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.member-btn-text{
    font-size: 18px;
    font-family: "Oswald";
    color: rgb(74, 180, 188);
    text-transform: uppercase;
    line-height: 1.669;
    text-align: center;
}

.dog-pick{
    width:100%;
}

.contact-text{
    margin-bottom: 68px;
}

//Styles for PORTFOLIO section
.portfolio-section{
    display: flex;
    flex-direction: column;
    background-color:#f2f0e9;
    align-items: center;

    .column-heading-line{
        width:245px;
    }
}

.column-heading-middle{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.column-heading-middle-first{
    display: flex;
    flex-direction: row;
    align-items: center;

    .column-heading-text{
        margin-left:19px;
        margin-right:19px;
    }
}

.column-heading-middle-round{
    width:22px;
    height:22px;
    border-radius: 50%;
    background-color: $main-orange;
}

.projects-list{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projects-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom:58px;
}

//Styles for VISIT section
.visit-section{
    display: flex;
    flex-direction: column;
    background-color:#f9f8f4;
    align-items: center;
}

.visit-address{
    font-size: 20px;
    font-family: "Montserrat";
    color: rgb(97, 96, 98);
    line-height: 1.35;
    text-align: center;
}

.visit-mailing{
    font-size: 25px;
    font-family: "Montserrat";
    color: rgb(68, 65, 64);
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
    margin-top:65px;
    margin-bottom: 30px;
}

//Styles for CONNECT section
.connect-section{
    display: flex;
    flex-direction: column;
    background-color:#f2f0e9;
    align-items: center;
}

.ribbon-connect{
    margin-top:60px;
}

.connect-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width:300px;
}

.connect-form-input{
    width:280px;
    height: 46px;
    border: 2px solid #c6c2b5;
    background: none;
    color:black;
    text-align: left;
    margin-bottom:50px;
    font-size:17px;
    padding-left:20px;
}

.connect-form-input::placeholder {
    color: #c6c2b5;
    opacity: 1;
}

.connect-form-area{
    width:280px;
    height: 125px;
    border: 2px solid #c6c2b5;
    background: none;
    color:black;
    text-align: left;
    margin-bottom:50px;
    font-size:17px;
    padding-top:20px;
    padding-left:20px;
    margin-bottom: 50px;
}

.connect-form-area::placeholder {
    color: #c6c2b5;
    opacity: 1;
}

.connect-form-btn{
    width:130px;
    height:50px;
    border: none;
    background:url(../images/button_short.png);
    font-size: 18px;
    font-family: "Oswald";
    color: rgb(249, 248, 244);
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 60px;
}

.thankyou-text{
    font-size: 34.509px;
    font-family: "Montserrat";
    color: rgb(74, 180, 188);
    font-weight: bold;
    text-transform: uppercase;
    line-height:60px;
    text-align: center;
}

.full-line{
    margin-top:50px;
    width:100%;
    height:2px;
    background-color: #c7c3b7;
    margin-bottom:30px;
}

.social-icons{
    margin-bottom: 15px;
    width:200px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.social-icon{
    width:40px;
}

.pop-up {
	display: none;
	position: absolute;
	text-align: center;
	width: 100%;
	top: 0;
  background-color: #f2f0e9;
	// background-color: rgb(74, 180, 188);
	height: 50%;

}

.pop-up-on {
  display: block;
}

video {
	width: 100%;
	margin-top: 35%;
  // position: absolute;

}

.close-btn {
  width:40px;
  height:40px;
	position: absolute;
	color: rgb(74, 180, 188);
	font-size: 2rem;
	right: 20px;
	top: 20px;
	cursor: pointer;
  font-family: "Oswald";
  // font-family: "Montserrat";
}


.controls {
  min-width: 100%;
  height: 50px;
  // background-color: rgb(74, 180, 188);
}

.pause-btn {
  text-align: left;
}

.time-style {
  display: flex;
  flex-direction: row;
}
