@import '_vars.scss';
@import 'modules/mobile-nav.scss';
@import 'modules/video_part.scss';

//
// Styles for mobile version
//
.hidden{
    display: none;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width:100%;
    height:100%;
}

section{
    width:100%;
}

a:link {
    text-decoration: none;
    appearance: none;
}

// Styles for HERO section
.hero-section{
    display: flex;
    flex-direction: column;
}

.hero-left{
    background-color: #f2f0e9;
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.left-burger{
    width:100%;
}

.burger-icon{
    width:40px;
    height:40px;
    margin-left:20px;
    margin-top:20px;
}

.left-logo{
    width:100%;
    display: flex;
    justify-content: center;
    margin-top: 5px;
}

.logo-icon{
    width:225px;
}

.first-nav-line, .second-nav-line, .nav-links{
    display: none;
}

.left-btn{
    width:130px;
    height:50px;
    background:url(../images/button_short.png);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top:50px;
    margin-bottom: 50px;
    cursor: pointer;
}

.left-btn-text{
    font-family: "Oswald";
    font-size:25px;
    color:#ffffff;
    letter-spacing: 20;
}

.hero-right{
    background-color:#f9f8f4;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.since-date{
    width:100%;
    display: flex;
    justify-content: center;
    align-items:center;
    padding-top:50px;
    margin-bottom: 25px;
}

.since-date-line{
    width:40px;
    height:2px;
    background-color:#c8c4b7;
}

.since-date-number{
    margin-left:10px;
    margin-right:10px;
    font-size: 14.379px;
    font-family: "Montserrat";
    color: rgb(68, 65, 64);
    text-transform: uppercase;
}

.right-ribbon{
    width:300px;
    height:135px;
    background:url(../images/ribbon_mobile_1.png);
    background-position: center center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom:70px;
}

.ribbon-text{
    text-transform: uppercase;
    text-align:center;
    font-size: 26px;
    font-family: "Oswald";
    color: rgb(242, 240, 233);
    line-height: 36px;
}

.hi-block{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom:70px;
}

.hi-lines{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height:6px;
}

.hi-line{
    background-color:$main-blue;
    width:40px;
    height:2px;
}

.hi-text{
    font-size: 36px;
    font-family: "Montserrat";
    color: $main-blue;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    margin-left: 10px;
    margin-right:10px;
}

.description-heading{
    font-size: 24px;
    font-family: "Oswald";
    color: #c6c2b5;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.739;
    text-align: center;
}

.description-highlight{
    color:$main-orange;
}

.description-text{
    width:290px;
    font-size: 14px;
    font-family: "Montserrat";
    color: rgb(68, 65, 64);
    line-height: 1.714;
    text-align: center;
    margin-top:30px;
}

.description-btn{
    width:218px;
    height:50px;
    background:url(../images/button_wide.png);
    margin-top:38px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom:60px;
}

.description-btn-text{
    font-size: 25px;
    font-family: "Oswald";
    color: rgb(249, 248, 244);
    text-transform: uppercase;
    line-height: 1.669;
    text-align: center;
}

//Styles for FEATURES section
.features-section{
    display: flex;
    flex-direction: column;
    background-color:#f2f0e9;
    align-items: center;
}

.ribbon-features{
    margin-top:70px;

    .ribbon-text{
        width:200px;
    }
}

.features-list{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.features-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 58px;
}

.features-img{
    width:137px;
}

.features-text{
    font-size: 22px;
    font-family: "Montserrat";
    color: $main-orange;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.364;
    text-align: center;
    margin-top:48px;
}

.features-desc{
    display: none;
}

//Styles for TEAM section
.team-section{
    display: flex;
    flex-direction: column;
    background-color:#f9f8f4;
    align-items: center;
}

.column-heading{
    margin-top:58px;
    margin-bottom: 50px;
    height: 240px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.column-heading-line{
    width:154px;
    height:2px;
    background-color:#afaca2;
}

.column-heading-text{
    font-size: 60px;
    font-family: "Oswald";
    color: $main-orange;
    line-height: 1.167;
    text-transform: uppercase;
    text-align: center;
}

.dynamic-desc{
    display: none;
}

.left-team-text{
    display: none;
}

.team-members{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.team-member{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}

.member-circle{
    width:185px;
    height:185px;
    border-radius: 50%;
    border: 1px solid #444140;
    display: flex;
    align-items: center;
    justify-content: center;
}

.member-subcircle{
    width:180px;
    height:180px;
    border-radius: 50%;
    border: 1px solid #444140;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;

    img{
        height:100%;
    }
}

.member-name{
    margin-top:45px;
    font-size: 25px;
    font-family: "Montserrat";
    color: rgb(68, 65, 64);
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
}

.member-title{
    font-size: 18px;
    font-family: "Montserrat";
    color: rgb(68, 65, 64);
    line-height: 1.333;
    text-align: center;
    margin-top:35px;
}

.member-btn{
    background: url(../images/button_more.png);
    width:120px;
    height:46px;
    margin-top:30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.member-btn-text{
    font-size: 18px;
    font-family: "Oswald";
    color: rgb(74, 180, 188);
    text-transform: uppercase;
    line-height: 1.669;
    text-align: center;
}

.dog-pick{
    width:100%;
}

.contact-text{
    margin-top:20px;
    margin-bottom: 40px;
}

//Styles for PORTFOLIO section
.portfolio-section{
    display: flex;
    flex-direction: column;
    background-color:#f2f0e9;
    align-items: center;

    .column-heading-line{
        width:245px;
    }
}

.additional-heading{
    display: none;
}

.column-heading-middle{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.column-heading-middle-first{
    display: flex;
    flex-direction: row;
    align-items: center;

    .column-heading-text{
        margin-left:19px;
        margin-right:19px;
    }
}

.column-heading-middle-round{
    width:22px;
    height:22px;
    border-radius: 50%;
    background-color: $main-orange;
}

.projects-list{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projects-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom:58px;
}

//Styles for CONTACTS section
.contacts-section{
    display: flex;
    flex-direction: column;
}

//Styles for VISIT section
.visit-section{
    display: flex;
    flex-direction: column;
    background-color:#f9f8f4;
    align-items: center;
}

.visit-address{
    font-size: 20px;
    font-family: "Montserrat";
    color: rgb(97, 96, 98);
    line-height: 1.35;
    text-align: center;
}

.visit-mailing{
    font-size: 25px;
    font-family: "Montserrat";
    color: rgb(68, 65, 64);
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
    margin-top:65px;
    margin-bottom: 30px;
}

//Styles for CONNECT section
.connect-section{
    display: flex;
    flex-direction: column;
    background-color:#f2f0e9;
    align-items: center;
}

.ribbon-connect{
    margin-top:60px;

    .ribbon-text{
        width:100px;
    }
}

.connect-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width:300px;
}

.connect-form-input{
    width:280px;
    height: 46px;
    border: 2px solid #c6c2b5;
    background: none;
    color:black;
    text-align: left;
    margin-bottom:50px;
    font-size:17px;
    padding-left:20px;
}

.connect-form-input::placeholder {
    color: #c6c2b5;
    opacity: 1;
}

.connect-form-area{
    width:280px;
    height: 125px;
    border: 2px solid #c6c2b5;
    background: none;
    color:black;
    text-align: left;
    margin-bottom:50px;
    font-size:17px;
    padding-top:20px;
    padding-left:20px;
    margin-bottom: 50px;
}

.connect-form-area::placeholder {
    color: #c6c2b5;
    opacity: 1;
}

.connect-form-btn{
    width:130px;
    height:50px;
    border: none;
    background:url(../images/button_short.png);
    font-size: 18px;
    font-family: "Oswald";
    color: rgb(249, 248, 244);
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 60px;
}

.thankyou-text{
    font-size: 34.509px;
    font-family: "Montserrat";
    color: rgb(74, 180, 188);
    font-weight: bold;
    text-transform: uppercase;
    line-height:60px;
    text-align: center;
}

.full-line{
    margin-top:50px;
    width:100%;
    height:2px;
    background-color: #c7c3b7;
    margin-bottom:30px;
}

.social-icons{
    margin-bottom: 15px;
    width:200px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.social-icon{
    width:40px;
}

//
// Styles for tablet version
//
@media screen and (min-width:768px){

    

    .member-name{
        margin-top:25px;
        
    }
    
    .member-title{
        margin-top:15px;
    }
    
    .member-btn{
    
        margin-top:25px;
       
    }

    .light {
        margin-top: -20px;
    }

    .details {
        margin-top: 20px;
    }


    .mobile-nav{
        display: none;
    }

    section{
        width:100%;
        height:100vh;
    }

    //Styles for HERO section
    .hero-section{
        flex-direction: row;
    }

    .hero-left{
        width:35%;
        display: flex;
        justify-content: center;
    }

    .left-burger{
        display: none;
    }

    .left-logo{
        width:80%;
    }

    .first-nav-line{
        display: block;
        width:160px;
        height:2px;
        background-color: #c2beb1;
        margin-top: 80px;
        margin-bottom: 35px;
    }

    .second-nav-line{
        display: block;
        width:160px;
        height:2px;
        background-color: #c2beb1;
        margin-top: 35px;
    }

    .nav-links{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .nav-link{
        font-size: 24px;
        font-family: "Oswald";
        color: rgb(68, 65, 64);
        text-transform: uppercase;
        line-height: 2;
        text-align: center;
        text-decoration: none;
    }

    .nav-link:last-child{
        margin-bottom: 0px;
    }

    .left-btn{
        margin-top:90px;
    }

    .hero-right{
        width:65%;
        height:100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .since-date{
        padding-top: 0px;
    }

    .right-ribbon{
        width:90%;
        background: url(../images/ribbon_tablet_4.png);
        background-repeat: no-repeat;
        background-position: center center;
        margin-bottom: 60px;
    }

    .ribbon-text{
        font-size: 30px;
        font-family: "Oswald";
        color: rgb(242, 240, 233);
        text-transform: uppercase;
        line-height: 40px;
        text-align: center;
    }

    .hi-block{
        margin-bottom: 60px;
    }

    .hi-line{
        width:100px;
    }

    .hi-text{
        margin-left:10px;
        margin-right:10px;
        font-size:48px;
    }

    .description-heading{
        font-size:36px;
    }

    .description-text{
        width:460px;
        font-size:18px;
    }

    .description-btn{
        width:218px;
        height:50px;
        background:url(../images/button_wide.png);
        background-repeat: no-repeat;
        margin-bottom: 0px;
    }

    //Styles for FEATURES section
    .ribbon-features{
        width:666px;
        height:135px;
        background: url(../images/ribbon_tablet_2.png);
        background-repeat: no-repeat;

        .ribbon-text{
            width:320px;
        }
    }

    .features-list{
        margin-top:50px;
        width:90%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
        // padding-top: 140px;
    }

    .features-item{
        width:33%;
        margin-bottom: 50px;
    }

    .features-desc{
        display: none;
        font-size: 18px;
        font-family: "Montserrat";
        color: rgb(68, 65, 64);
        line-height: 1.333;
        text-align: center;
        margin-top:20px;
    }

    //Styles for TEAM section
    .team-section{
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
    }

    .team-content{
        display: flex;
        flex-direction: row;
        align-items: center;
        width:100%;
        height:100%;
    }

    .left-team{
        height:92%;
        width:30%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    .team-member{
        
        margin-bottom: 30px;
    }

    .column-heading{
        width:100%;
        margin-top:0px;
        margin-bottom: 0px;
    }

    .dynamic-desc{
        display:block;
        width:80%;
        font-size: 18px;
        font-family: "Montserrat";
        color: rgb(68, 65, 64);
        line-height: 1.333;
        text-align: center;
    }

    .left-team-text{
        display: block;
        width:60%;
        text-align: center;
        font-size:19px;
        line-height: 35px;
    }

    .team-members{
        width:70%;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .team-member{
        width:50%;
    }

    .team-member:nth-child(3){
        margin-bottom: 0px;
    }

    .team-member:nth-child(4){
        margin-bottom: 0px;
    }

    .contact-text{
        display: none;
    }

    //Styles for PORTFOLIO section
    .portfolio-section{
        .column-heading{
            margin-top:30px;
            margin-bottom: 30px;
            height:220px;
        }

        .member-name{
            margin-top:10px;
        }

        .member-title {
            margin-top: 0px;
        }

        .member-btn{
            margin-top:15px;
        }
    }

    .projects-list{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width:570px;
    }

    .projects-item{
        width:50%;
        margin-bottom: 30px;
    }

    .projects-item:nth-child(3){
        margin-bottom: 0px;
    }

    .projects-item:nth-child(4){
        margin-bottom: 0px;
    }

    

    //Styles for the CONTACTS section
    .contacts-section{
        display: flex;
        flex-direction: row;
        width:100%;
    }

    //Styles for VISIT section
    .visit-section{
        width:35%;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .column-heading-text{
            font-size:72px;
        }
    }

    .visit-address{
        margin-top:70px;
        font-size:20px;
    }

    .visit-address-bottom{
        margin-top: 0px;
    }

    .visit-mailing{
        margin-bottom: 20px;
    }

    .description-btn{
        margin-top:60px;
    }

    //Styles for CONNECT section
    .connect-section{
        width:65%;
    }

    .ribbon-connect{
        width:440px;
        height:110px;
        background: url(../images/ribbon_tablet_5.png);
        background-repeat: no-repeat;
        background-size: center center;
        margin-top:60px;
        margin-bottom: 60px;
    }

    .connect-form-input{
        margin-bottom:30px;
    }

    .connect-form-btn{
        margin-bottom: 50px;
    }

    .thankyou-text{
        font-size:42px;
    }

    .full-line{
        background-color:#c7c3b7;
        margin-top:50px;
        margin-bottom: 0px;
    }

    .social-icons{
        margin-top:20px;
        margin-bottom: 5px;
    }

}

//
// Styles for desktop version
//
@media screen and (min-width:1200px){
    //Styles for HERO section
    .hero-left{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width:25%;
    }

    .left-logo{
        width:240px;
        margin-top:0px;
    }

    .first-nav-line{
        display: block;
        width:160px;
        height:2px;
        background-color: #c2beb1;
        margin-top:60px;
        margin-bottom: 25px;
    }

    .second-nav-line{
        display: block;
        width:160px;
        height:2px;
        background-color: #c2beb1;
        margin-top: 25px;
    }

    .nav-link{
        text-decoration: none;
        font-size: 24px;
    }

    .nav-link:hover{
        text-decoration: underline;
    }

    .left-btn{
        margin-top:60px;
        margin-bottom: 0px;
        width:150px;
        height:51px;
        background: url(../images/button_short.png);
        background-repeat: no-repeat;
        background-position: center center;
    }

    .hero-right{
        width:75%;
        height:100%;
    }

    .since-date{
        margin-bottom: 20px;
    }

    .right-ribbon{
        margin-bottom: 40px;
        background:url(../images/ribbon_desktop_big.png);
        background-repeat: no-repeat;
        background-position: center center;
    }

    .hi-block{
        margin-top:0;
        margin-bottom:25px;
    }

    .hi-text{
        font-size:40px;
    }

    .hi-line{
        width:230px;
    }

    .description-heading{
        margin-top:0;
        margin-bottom: 20px;
        font-size:30px;
        line-height: 38px;
    }

    .description-text{
        width:630px;
        margin-top:0;
        margin-bottom: 20px;
        font-size:16px;
    }

    .description-btn{
        margin-bottom:0;
        margin-top:15px;
    }

    //Styles for FEATURES section
    .ribbon-features{
        background:url(../images/ribbon_desktop_big.png);
        background-position: center center;
        height:135px;
        margin-top:40px;
        margin-bottom: 70px;
    }

    .features-list{
        margin-top:0;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
    }

    .features-item{
        width:20%;
    }

    .features-img{
        width:137px;
    }

    .features-desc{
        display: block;
        width:180px;
    }

    //Styles for TEAM section
    .team-section{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width:100%;
    }

    .team-content{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        width:100%;
        height: 450px;
        margin-bottom: 150px;
    }

    .left-team{
        justify-content: flex-start;
        height:450px;
        width:30%;
    }

    .dynamic-desc{
        margin-top:80px;
        width:200px;
    }

    .left-team-text{
        display: none;
    }

    .team-members{
        flex-wrap: nowrap;
        justify-content: center;
        width:70%;
    }

    .team-member{
        width:25%;
        margin-bottom: 0px;
    }

    .member-btn{
        cursor: pointer;
    }

    .contact-text{
        display: flex;
        margin: 0;

        .hi-text{
            margin-left:25px;
            margin-right:25px;
        }

        .hi-line{
            width:260px;
        }
    }

    //Styles for PORTFOLIO section
    .portfolio-section{
        .column-heading{
            margin-bottom: 80px;
        }
    }

    .portfolio-top{
        width:1000px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .additional-heading{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        height:160px;
    }

    .additional-heading-lines{
        width:230px;
        height:10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .additional-heading-line{
        width:100%;
        height: 2px;
        background-color: #c7c3b7;
    }

    .additional-heading-text{
        width:200px;
        font-size: 18px;
        font-family: "Montserrat";
        color: rgb(68, 65, 64);
        line-height: 1.333;
        text-align: center;         
    }

    .projects-list{
        flex-wrap:nowrap;
        width:100%;
    }

    .projects-item{
        width:25%;
        margin-bottom: 0px;
    }

    //Styles for CONTACTS section
    .visit-section{
        width:30%;
    }

    .connect-section{
        width:70%;
    }

    .visit-address{
        margin-top:60px;
    }

    .visit-mailing{
        margin-top:30px;
    }

    .visit-address:last-child{
        margin-top:0;
    }

    .visit-address-bottom{
        margin-top:0px;
    }

    .description-btn{
        margin-top:40px;
        cursor: pointer;
    }

    .connect-section{
        justify-content: center;
    }

    .ribbon-connect{
        margin-top:20px;
        width:666px;
    }

    .connect-form{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        width:650px;
        margin-bottom: 30px;
        margin-top:10px;
    }

    .connect-form-input{
        width:650px;
    }

    .connect-form-input-five{
        width:650px;
        // margin-right:25px;
    }

    .connect-form-input-five-two{
        width:650px;
        margin-right: 0px;
        // margin-left:25px;
    }

    .connect-form-area{
        width:100%;
        margin-bottom: 40px;
    }

    .connect-form-btn{
        margin-bottom: 0px;
    }

    .social-icons{
        margin-top:10px;
    }

    .thankyou-text{
        display: none;
        margin-bottom: 0px;
        font-size:40px;
        line-height:38px;
    }

    .one {
        display: flex;
        flex-direction: row-reverse;
        margin-top: 10px;
        position: fixed;
        right: 15px;
        top:35%;

      }
      
      
      .circle {
        height: 25px;
        width: 25px;
        background-color: #f97f00;
        border-radius: 50%;
      
      }
      
      .circle:hover {
        background-color: #c6c2b5;
      
      }
 
      .two {
        display: flex;
        flex-direction: row-reverse;
        margin-top: 30px;
        position: fixed;
        right: 15px;
        top:37%;
  
      }
      
      
      .circle1 {
        height: 25px;
        width: 25px;
        background-color: #f97f00;
        border-radius: 50%;
      
      }
      
      .circle1:hover {
        background-color: #c6c2b5;
      
      }
      
      .three {
        display: flex;
        flex-direction: row-reverse;
        margin-top: 50px;
        position: fixed;
        right: 15px;
        top:39%;
      
      
      }
      
      .circle2 {
        height: 25px;
        width: 25px;
        background-color: #f97f00;
        border-radius: 50%;
      
      }
      
      .circle2:hover {
        background-color: #c6c2b5;
      
      }
      

      .four {
        display: flex;
        flex-direction: row-reverse;
        margin-top: 70px;
        position: fixed;
        right: 15px;
        top:41%;
      
      
      }

      .circle3 {
        height: 25px;
        width: 25px;
        background-color: #f97f00;
        border-radius: 50%;
      
      }

      .circle3:hover {
        background-color: #c6c2b5;
      
      }

      .five {
        display: flex;
        flex-direction: row-reverse;
        margin-top: 90px;
        position: fixed;
        right: 15px;
        top:43%;
      
      
      }

      .circle4 {
        height: 25px;
        width: 25px;
        background-color: #f97f00;
        border-radius: 50%;
      
      }

      .circle4:hover {
        background-color: #c6c2b5;
      
      }

}