.pop-up-team {
	display: none;
	position: fixed;
    text-align: center;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    background-color: #f2f0e9;

}

.close-btn-team {
    width:30px;
    height:30px;
	position: absolute;
	color: rgb(74, 180, 188);
	font-size: 2rem;
	right: 20px;
	top: 20px;
	cursor: pointer;
    font-family: "Oswald";
}

.pop-up-team-on {
    display: block;

}

@media screen and (min-width:1200px){



.pop-up-team-on {
    display: block;

}

.close-btn-team {
    width:30px;
    height:30px;
	position: absolute;
	color: rgb(74, 180, 188);
	font-size: 2rem;
	right: 20px;
	top: 20px;
	cursor: pointer;
    font-family: "Oswald";
}

}