// Styles for the Portfolio page

//
//Styles for mobile version
//
.portfolio-body{
    overflow: visible;
}

//Styles for INTRO section
.portfolio-main{
    background-color:#f2f0e9;
}

.intro-section{
    width:100%;
    background:url(../images/bg_top_porfolio.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column;
    align-items: center;
    height:100%;
    margin-bottom: 150px;
}

.intro-top{
    display: flex;
    justify-content: center;
    align-items: center;
    height:135px;
    margin-top:140px;
    margin-bottom: 70px;
}

.intro-top-reflection{
    height:100%;
}

.intro-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.intro-content-heading{
    font-size: 24px;
    width:250px;
    font-family: "Oswald";
    color: rgb(198, 194, 181);
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;     
}

.intro-content-lines{
    height:7px;
    width:252px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top:25px;
}

.intro-content-topline{
    width:100%;
    height:3px;
    background-color: rgb(198, 194, 181);
}

.intro-content-botline{
    width:100%;
    height:2px;
    background-color: rgb(198, 194, 181);
}

.intro-content-text{
    width:260px;
    font-size: 14px;
    font-family: "Montserrat";
    color: rgb(68, 65, 64);
    line-height: 1.333;
    text-align: center;      
    margin-top:50px;
}

.intro-back-btn{
    margin-top:40px;
    width:120px;
    height:46px;
    background: url(../images/button_more.png);
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.intro-back-btn-text{
    font-size: 18px;
    font-family: "Oswald";
    color: rgb(74, 180, 188);
    text-transform: uppercase;
    text-align: center;    
}

//Styles for DEVELOPMENT section
.development-section{
    height:100%;
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 150px;
}

.development-left{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.development-left-img{
    width:300px;
}

.development-right{
    display: flex;
    flex-direction: column;
}

.portfolio-right-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.portfolio-section-heading{
    width:270px;
    font-size: 24px;
    font-family: "Oswald";
    color: rgb(198, 194, 181);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.391;
    text-align: center;
    margin-bottom: 30px;     
}

.portfolio-right-lines{
    width:260px;
    height:6px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.portfolio-right-line{
    width:100%;
    height: 2px;
    background-color: rgb(198, 194, 181);
}

.portfolio-right-text{
    width:230px;
    font-size: 14px;
    font-family: "Montserrat";
    color: rgb(68, 65, 64);
    line-height: 1.333;
    text-align: center;    
    margin-top:35px;
    margin-bottom: 35px;  
}

//Styles for MOCKUP section
.mockup-section{
    background: url(../images/bg_bottom_portfolio.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 0px;
    padding-bottom: 250px;
}


//
//Styles for the tablet version
//
@media screen and (min-width:760px){
    //Styles for INTRO section
    .intro-top{
        height:280px;
    }

    .intro-content-heading{
        font-size:44px;
        width:460px;
    }

    .intro-content-lines{
        width:587px;
    }

    .intro-content-text{
        width:690px;
        font-size: 20px;
    }

    //Styles for DEVELOPMENT section
    .development-left-img{
        width:700px;
    }

    .portfolio-section-heading{
        font-size: 30px;
    }

    .portfolio-right-lines{
        width:346px;
    }

    .portfolio-right-text{
        font-size:18px;
        width:290px;
    }
}


//
//Styles for the desktop version
//
@media screen and (min-width:1200px){
    //Styles for INTRO section
    .intro-top{
        height:280px;
    }

    .intro-content-heading{
        width:900px;
    }

    .intro-content-lines{
        width:912px;
    }

    .intro-content-text{
        width:700px;
        font-size:20px;
    }

    //Styles for DEVELOPMENT section
    .development-section{
        display: flex;
        flex-direction: row;
        align-items: center;
        width:100%;
    }

    .development-left{
        width:65%;
        margin-bottom: 0px;
    }

    .development-left-img{
        width:600px;
    }

    .development-right{
        width:35%;
        justify-content: flex-start;
    }
}

@media screen and (min-width:1400px){
    .development-section{
        margin-bottom: 200px;
    }

    .mockup-section{
        margin-bottom: 0px;
        padding-bottom: 50px;
    }

    .development-left-img{
        width:900px;
    }
}