// Styles for the Portfolio page

//
//Styles for the desktop version
//

//Styles for INTRO section
.portfolio-main{
    background-color:#f2f0e9;
}

.intro-section{
    width:100%;
    background:url(../../images/bg_top_porfolio.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column;
    align-items: center;
    height:100%;
    margin-bottom: 150px;
}

.intro-top{
    display: flex;
    justify-content: center;
    align-items: center;
    height:280px;
    margin-top:140px;
    margin-bottom: 70px;
}

.intro-top-reflection{
    width:100%;
}

.intro-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.intro-content-heading{
    font-size: 44px;
    font-family: "Oswald";
    color: rgb(198, 194, 181);
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;     
}

.intro-content-lines{
    height:7px;
    width:912px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top:25px;
}

.intro-content-topline{
    width:100%;
    height:3px;
    background-color: rgb(198, 194, 181);
}

.intro-content-botline{
    width:100%;
    height:2px;
    background-color: rgb(198, 194, 181);
}

.intro-content-text{
    width:700px;
    font-size: 18px;
    font-family: "Montserrat";
    color: rgb(68, 65, 64);
    line-height: 1.333;
    text-align: center;      
    margin-top:50px;
}

//Styles for DEVELOPMENT section
.development-section{
    height:100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 150px;
}

.development-left{
    width:70%;
    display: flex;
    justify-content: center;
}

.development-left-img{
    width:800px;
}

.development-right{
    width:30%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.portfolio-right-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.portfolio-section-heading{
    width:270px;
    font-size: 30px;
    font-family: "Oswald";
    color: rgb(198, 194, 181);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.391;
    text-align: center;
    margin-bottom: 40px;     
}

.portfolio-right-lines{
    width:346px;
    height:6px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.portfolio-right-line{
    width:100%;
    height: 2px;
    background-color: rgb(198, 194, 181);
}

.portfolio-right-text{
    width:285px;
    font-size: 18px;
    font-family: "Montserrat";
    color: rgb(68, 65, 64);
    line-height: 1.333;
    text-align: center;    
    margin-top:35px;
    margin-bottom: 35px;  
}

//Styles for MOCKUP section
.mockup-section{
    background: url(../../images/bg_bottom_portfolio.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 0px;
    padding-bottom: 250px;
}