
.pop-up {
	display: none;
	position: absolute;
	text-align: center;
	width: 100%;
	top: 0;
  background-color: #f2f0e9;
	height: 446px;

}

.pop-up-on {
  display: block;
}

video {
  width: 100%;
	margin-top: 75px;

}

.close-btn {
  width:30px;
  height:30px;
	position: absolute;
	color: rgb(74, 180, 188);
	font-size: 2rem;
	right: 20px;
	top: 20px;
	cursor: pointer;
  font-family: "Oswald";
}


.controls {
  margin-top: 10px;
  width: 290px;
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: left;
}

.contrlos-sound {
  width: 150px;
  height: 30px;
  display: flex;
  flex-direction: row;
  justify-content: left;
  margin-top: 0px;

}

.pause-btn {
  text-align: left;
  width:30px;
  height: 30px;
  margin-left: 5px;
}

.slow-button {
    width: 30px;
    height: 30px;
    margin-left: 5px;
  }

.faster-button {
    width:30px;
    height: 30px;
    margin-left: 10px;
  }

  .sound-button {
    width: 30px;
    height: 30px;
    margin-left: 5px;
  }


.time-style {
  display: flex;
  flex-direction: row;
  margin-left: 10px;
  margin-top: 8px;
  color: #F97F00;
}

input[type=range] {
  height: 20px;
  margin: 10px 0;
  width: 100px;
  background-color: #f2f0e9;

}

input.volume {
  margin-left: 10px;
  margin-top: 5px;
}

// range style work in Chrome, Firefox, Safari

input[type=range]::-moz-range-track {
  width: 100%;
  height: 11px;
  cursor: pointer;
  background: #4AB4BC;
  border-radius: 5px;

}
input[type=range]::-moz-range-thumb {
  height: 23px;
  width: 10px;
  background: #F97F00;
  cursor: pointer;
  
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 11px;
  cursor: pointer;
  background: #4AB4BC;
  border-radius: 5px;
}

input[type=range]::-webkit-slider-thumb {
  height: 23px;
  -webkit-appearance: none;
  width: 10px;
  background: #F97F00;
  cursor: pointer;
  border-radius: 5px;
  margin-top: -5.5px;
}

input[type=range] {
  -webkit-appearance: none;
}

input.bar {
  margin-left: 10px;
  margin-top: 5px;
}

// for video bugs

@media screen and (min-width:500px) {
  .controls-flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .contrlos-sound {
    margin-top: 10px;
    margin-left:4px;

  }
 
}

@media screen and (min-width:569px) {
  video {
    height: 316px;
    width: 563px;
  }
}

@media screen and (min-width: 768px) {
  .pop-up {
    height: 100%;
  
  }

  video {
    min-height: 500px;
    min-width: 798px;
  }
}

@media screen and (min-width:1200px){

  video {
    min-height: 700px;
    min-width: 1200px;
  }

  input[type=range] {
  
    width: 500px;
    
  
  }

  .controls {
    width: 700px;
  }

  input.bar {
    margin-right: 5px;
  }

  .slow-button {
    margin-left: 10px;
  }
}
